# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# OS
.DS_Store

# Jupyter
.jupyter/

# Data files (often too large for git)
data/*.csv
data/*.xlsx
data/*.zip
data/*.geojson
